<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center><font color=#555555><font size=6> Ingeniería Financiera </font> <br> <br>

<center><font color=#555555><font size=5> ITE1731 - Microestructura y Sistemas de Trading </font> <br> <br> <br>

<center><font color=#555555><font size=5> I.F. Job Ramirez Camberi </font> <br> <br>
   
<center> <font color= #555555> <font size = 4> Septiembre 2020 </a> | <font color= #555555> <font size = 4> Repositorio: <a href='https://github.com/JobRamirezC'>Link</a></font>

<br>

---

<br>

<br>

<center> <font color= #555555> <font size = 7> Laboratorio 1 </font> <br> <br> <font color= #555555> <font size = 5> Inversión del Capital </font>

# <font color= #555555> <font size = 5> Abstract </font>

<font color= #6B6B6B> <font size = 2> Este documento fue elaborado por tu **nombre completo**, como un trabajo parcial para la materia de **Microestructura y Sistemas de Trading - ITE1731**, la cual es parte del curriculum de la licenciatura en Ingeniería Financiera, ofertada por la universidad **ITESO**. En el presente trabajo se plantea la respuesta a la siguiente pregutna: *¿Qué estrategia de inversión propondrías si tu trabajo fuera administrar 1 Millón de pesos?*</font>

<br>

# <font color= #6B6B6B> <font size = 6> 0. Librerías y Dependencias </font>

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> <font size = 5> 0.1 Librerías </font> <font color= #555555>

Para correr este notebook es necesario tener instaladas y/o en el archivo _requirements.txt_ las siguientes librerías :

- pandas>=1.1.1 
- numpy>=1.19.1
- jupyter>=1.0.0
- yfinance>=0.1.54

# <font color= #6B6B6B> <font size = 5> 0.2 Dependencias </font> <font color= #555555>

Para correr este notebook es necesario contar con los siguientes archivos y dependencias externas:

- files/precios.csv : Precios históricos
- files/datos.txt : Otros datos históricos

<br>

# <font color= #6B6B6B> <font size = 6> 1. Introducción </font>

<hr style="border:0.02in solid gray"> </hr>

<font color= black> <font size=2> __Inversión Pasiva__: La inversión pasiva es un tipo de inversión en el cual se busca obtener un rendimiento replicando el comportamiento de algún indice
    
<font color= black> <font size=2> __Indice Bursátil__: Un indice bursátil es un indicador de un conjunto de activos para poder llevar una mejor referencia de la variación de los precios que estan incluidos en el indice

<br>

# <font color= #6B6B6B> <font size = 6> 2. Objetivos </font>

<hr style="border:0.02in solid gray"> </hr>

Poder responder la pregunta ¿Qué estrategia de inversión propondrías si tu trabajo fuera administrar 1 Millón de pesos?

<br>

# <font color= #6B6B6B> <font size = 6> 3. Datos </font>

<hr style="border:0.02in solid gray"> </hr>

In [1]:
from os import path
import functions
import data 
import yfinance as yf

abspath = path.abspath('files/NAFTRAC_holdings')
abspath

'C:\\Users\\jobch\\Documents\\ITESO\\OneDrive - ITESO\\ITESO\\9no Semestre\\Microestructuras y Sistemas de Trading\\myst_lab1_JRC\\files\\NAFTRAC_holdings'

In [2]:
path = data.f_pathnames(abspath)
dictionary = data.f_dictionary(path)
dictionary[path[0]].head(3)

,Ticker,Nombre,Clase de activo,Peso (%),Precio,Acciones,Valor de mercado,Valor nominal,Sector,ISIN,Bolsa de valores,Ubicación,Moneda,Mercado de divisas,Tipo de Cambio
0,AMXL,AMERICA MOVIL L,Equity,0.1331,17.44,"309,663,816.00","5,400,536,951.04","5,400,536,951.04",Telecomunicaciones,MXP001691213,Bolsa Mexicana De Valores,México,MXN,MXN,1.00
1,FEMSAUBD,FOMENTO ECONOMICO MEXICANO,Equity,0.1269,181.52,"28,367,196.00","5,149,213,417.92","5,149,213,417.92",Productos básicos de consumo,MXP320321310,Bolsa Mexicana De Valores,México,MXN,MXN,1.00
2,GFNORTEO,GPO FINANCE BANORTE,Equity,0.0951,119.58,"32,280,468.00","3,860,098,363.44","3,860,098,363.44",Financieros,MXP370711014,Bolsa Mexicana De Valores,México,MXN,MXN,1.00

In [3]:
# En esta sección es opcional incluir código para mostrar/visualizar
# los datos con los que se trabajó en el laboratorio

<br>

# <font color= #6B6B6B> <font size = 6> 4. Procesos </font>

<hr style="border:0.02in solid gray"> </hr>

In [4]:
### Importar Librerias

import functions
from functions import *
from data import *
import pandas as pd

In [5]:
#Datos inversion Pasiva

abspath = path.abspath('files/NAFTRAC_holdings')  #

capital = 1000000
commission = 0.00125
inv_pasiva = {'timestamp': ['30-01-2018'], 'capital': [capital]}
path = f_pathnames(abspath)
tdates = f_fechas(path)
vdates = pd.date_range(start=f_fechas(path)[0], end=f_fechas(path)[-1])  #
vdates = vdates.strftime('%Y-%m-%d')  #
path = f_pathnames(abspath)
dictionary = f_dictionary(path)
price = f_yfprices(path)
price_close = price[0]
price_open = price[1]
m = f_mprices(price_close, path)

[*********************100%***********************]  39 of 39 completed

In [6]:
# Imprimir df_pasiva
functions.f_pasiva(capital, m, commission, inv_pasiva, path)
df_pasiva = functions.f_dfpasiva(inv_pasiva)
df_pasiva.head(5)

    timestamp         capital      rend  rend_acum
0  30-01-2018  1000000.000000  0.000000   0.000000
1  2018-01-31   998805.363175 -0.001195  -0.001195
2  2018-02-28   943330.669604 -0.057143  -0.058338
3  2018-03-28   918905.545899 -0.026234  -0.084572
4  2018-04-30   961771.832432  0.045594  -0.038978

In [7]:
#Datos inversión Activa

price_rend_c = -0.01
perc = 0.1
inv_activa_d = {'timestamp': [], 'titulos_totales': [], 'titulos_compra': [], 'precio': [], 'comision': []}
inv_activa = {'timestamp': ['30-01-2018'], 'capital': [capital]}
d_open = f_dprices(price_open, path)
d_close = f_dprices(price_close, path)

In [8]:
#Imprimir df_activa

functions.f_activa(price_open, price_close, capital, commission, path, inv_activa_d, inv_activa, price_rend_c, perc)
df_activa = functions.f_dfactiva(inv_activa)
df_activa.head(5)

    timestamp       capital      rend  rend_acum
0  30-01-2018  1.000000e+06  0.000000   0.000000
1  2018-01-30  9.988890e+05 -0.001112  -0.001112
2  2018-01-31  1.000988e+06  0.002099   0.000988
3  2018-02-01  1.002553e+06  0.001562   0.002550
4  2018-02-02  9.999647e+05 -0.002585  -0.000035

In [9]:
#Operaciones Activa

op_hist = functions.f_operations(inv_activa_d)
op_hist

     timestamp  titulos_totales  titulos_compra     precio   comision
0   2018-01-30           3804.0          3804.0  17.469999  83.069847
1   2018-02-09           4463.0           659.0  16.660000  13.723675
2   2018-02-20           5021.0           558.0  17.709999  12.352724
3   2018-03-01           5534.0           513.0  17.340000  11.119275
4   2018-03-07           5995.0           461.0  17.389999  10.020987
..         ...              ...             ...        ...        ...
61  2018-12-24          10275.0             1.0  14.110000   0.017637
62  2019-01-11          10276.0             1.0  14.940000   0.018675
63  2019-01-14          10277.0             1.0  14.750000   0.018437
64  2019-02-14          10278.0             1.0  14.270000   0.017838
65  2019-08-06          10279.0             1.0  12.970000   0.016213

[66 rows x 5 columns]

In [10]:
#Comparar Pasiva vs Activa
PasivevsActive = pd.DataFrame()
PasivevsActive["timestamp"] = df_pasiva['timestamp']
PasivevsActive["Inversión Pasiva"] = df_pasiva['capital']
PasivevsActive["Inversión Activa"] = df_activa['capital']
PasivevsActive.head(5)

    timestamp  Inversión Pasiva  Inversión Activa
0  30-01-2018    1000000.000000      1.000000e+06
1  2018-01-31     998805.363175      9.988890e+05
2  2018-02-28     943330.669604      1.000988e+06
3  2018-03-28     918905.545899      1.002553e+06
4  2018-04-30     961771.832432      9.999647e+05

In [11]:
# Medidas de Desempeño
# Medidas de Atribución al Desempeño
rf = 0.0770
rf_m = rf / 12

perf = functions.f_sharpe(df_pasiva, df_activa, rf_m)
perf.head(5)

   medida                    descripcion  inv_pasiva  inv_activa
0  rend_m   Rendimiento Promedio Mensual   -0.007735   -0.000402
1  rend_c  Rendimiento Mensual Acumulado   -0.255244   -0.259205
2  sharpe                Ratio de Sharpe   -0.288479   -0.078611

<br>

# <font color= #6B6B6B> <font size = 6> 5. Conclusiones </font>

<hr style="border:0.02in solid gray"> </hr>

Podemos concluir que en este caso, nos es más conveniente hacer la inversión pasiva, ya que en activa se pretende ir monitoreando nuestros precios y hacer ajustes cuando sea necesario para poder elminar el riesgo. Sin embargo, esto nosucedio en este caso y solo fuimos gastando nuestro capital para tratar de reducir el riesgo y no hubo el rendimiento suficiente en este periodo para recuperar ese dinero, esto se debe a este caso exclusivamente porque el periodo tuvo una tendencia bajista, es por eso que nos es mejor hacer una inversion pasiva solo en este caso, ya que no hubieramos gastado ese dinero en inversión activa y terminabamos con un mejor rendimiento

In [12]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))